<div class="profile">
  
  
  
<% if (user.profile()) { %>
  
    <div class="left-bar">
      <div id="profile-pic">
        <br>
        <p>profile pic goes here</p>
      </div>
      <br>
      <ul class="sticky-links nav nav-stacked">
        <li class="posts-link"><a>Posts</a><li>
        <li class="friends-link"><a>Friends</a><li>
      </ul>
      <div class="sticky-alias"></div>
    </div>
    <div class="right-bar">
      <br>
      <br>
      <p><b>First name: </b>
        <input type="text" id="first-name" name="profile[first_name]" value="<%= user.profile().first_name %>">
      </p>
      <p><b>Last name: </b>
        <input type="text" id="last-name" name="profile[last_name]" value="<%= user.profile().last_name %>">
      </p>
      <br>
      <div id="credentials">
        <p><b>Email: </b>
          <input type="text" id="email" name="user[email]" value="<%= user.escape("email") %>">
        </p>
    
        <p><b>Bio: </b>
          <input type="text" id="bio" name="profile[bio]" value="<%= user.profile().bio %>">
        </p>
      </div>
      <br>
      <button id="save">Save changes</button>
      <br>
      <div class="<%= "sticky-target " + sticky %>"></div>
      <br>
      <div class="post-new"></div>
    </div>
    
    <script>
    $(function() {
      var stickyHeaderTop = $('.sticky-links').offset().top;
      $(window).scroll(function(){
        if( $(window).scrollTop() + 100 > stickyHeaderTop ) {
          $('.sticky-links').css({position: 'fixed', top: '100px'});
        } else {
          $('.sticky-links').css({position: 'static', top: '500px'});
        }
      });
    });
    </script>
  
<% } else { %>
  
  <div class="loading"><i>Loading...</i></div>
  
<% } %>

</div>

