<div class="row">


<div class="col-xs-3 signup-page">
  <h1 class="tryme">Sign Up</h1>
  <br>
  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="hidden" name="user[email]" value="doge@gmail.com">
    <input type="hidden" name="user[password]" value="dogeismaster">

    <input class="btn tryme" type="submit" value="Try out!">
  </form>

  <form action="<%= users_url %>" method="POST" role="form" id="signup-form" onsubmit="event.preventDefault(); submitForm();">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
  
    <div id="first-name-alerts"></div>
    <div class="form-group first-name-form">
      <input
        class="form-control"
        id="profile-firstname"
        type="text"
        name="profile[first_name]"
        placeholder="First name">
    </div>
    
    <div id="last-name-alerts"></div>
    <div class="form-group last-name-form">
      <input
        class="form-control"
        id="profile-lastname"
        type="text"
        name="profile[last_name]"
        placeholder="Last name">
    </div>
    
    <div id="email-alerts"></div>
    <div class="form-group email-form">
      <input
        class="form-control"
        id="user-email"
        type="text"
        name="user[email]"
        placeholder="Email">
    </div>
  
    <!-- <div class="form-group">
      <label for="profile-nametag">Url</label><br>
      <input
        id="profile-nametag"
        type="text"
        name="profile[name_tag]">
    </div> -->
      
    <div id="password-alerts"></div>    
    <div class="form-group pwd-form">
      <input
        class="form-control"
        id="user-pwd"
        type="password"
        name="user[password]"
        placeholder="Password">
    </div>
  
    <input type="hidden" name="profile[bio]" value="<%= simple_format("much noob \n bio so default") %>">
  
    <input class="btn" type="submit" value="Submit">
  </form>
</div>

</div>