<div class="item photo-view div-<%= image.id %>" data-user-id="<%= image.get("user_id") %>"><a href="#myModal" data-img-url="<%= image.get("file_url") %>" data-toggle="modal"><img data-user-id="<%= image.get("user_id") %>" data-img-id="<%= image.id %>" src="<%= image.get("file_url") %>"></a></div>

<script>
$('#myModal').on('hidden.bs.modal', function (e) {
  $('body').removeClass('modal-open');
  $('.modal-backdrop').remove();
});

$('a').click(function(e) {
  $('#myModal img').attr('src', $(this).attr('data-img-url'));
});

$('img').mouseenter(function(e) {
  
  if ($(this).attr('data-user-id') == Facedoge.currentUser().id && !$('.profile-button')[0]) {
    $('div.div-' + $(this).attr('data-img-id')).append('<button class="profile-button" id="' + $(this).attr('data-img-id') + '">Set as profile</button>');
  }
});

$('div.photo-view').mouseleave(function(e) {
  if ($(this).attr('data-user-id') == Facedoge.currentUser().id) {

    $('.profile-button').remove();
  }
});
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <img style="width: 99%; margin: 0 auto">
      </div>
    </div>
  </div>
</div>