<!DOCTYPE html>
<html>
<head>
  <title>Facedoge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript" src="http://api.filepicker.io/v1/filepicker.js"></script>
  <script>
    filepicker.setKey("APfLg3iZUTanSEgY5zAsNz");
  </script>
  
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="header">
    <%= render "layouts/header" %>
  </div>
  
  <div class="midsection">
      <% if signed_in? %>
      <div id="sidebar-wrapper">
        <div class="sidebar">
          <%= render "layouts/sidebar" %>
        </div>
      </div>
      <% else %>
        <img class="splash" src="/assets/splash.png">
      <% end %> 
      <div id="content-wrapper">
        <div class="content">
          <%= yield %>
        </div>
      </div>
  </div>
  
  <% if !signed_in? %>
    <div class="footer">
    </div>
  <% end %>
  
</body>
</html>
